// colors
$white: #ffffff;
$black: #000000;
$light-grey: #babbc5;
$grey: #6c7279;
$grey-footer: #808080;
$dark-grey: #2d3033;
$red: #ff4343;
$red-hover: #e71414;
$red-active: #b90c0ccc;
$purple: #5c3249;
$light-purple: #7e5d6f;
$blue-background: #252b49;
$light-blue: #353c65;
$dark-blue: #2c3154;

// border
$border-dots: 2px solid $light-purple;
$border-img: 2px solid $white;

// font-size
