.footer-info {
  padding: 72px 0 67px;
  background-color: $light-blue;

  @media (max-width: 1024px) {
    padding: 44px 0 44px;
  }
  @media (max-width: 600px) {
    padding: 35px 0 40px;
  }
}

.footer-info__content {
  color: $white;
  @include flexBox-sb;
  text-align: center;

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
  }
}

.footer-info__content-info {
  width: 370px;

  @media (max-width: 1024px) {
    width: 315px;
  }
  @media (max-width: 600px) {
    width: 100%;

    &:first-child {
      margin-bottom: 70px;
    }
    &:last-child {
      margin-top: 60px;
    }
  }
}

.footer-info__content-info__title {
  @include textStyle-4;
  margin-bottom: 29px;

  @media (max-width: 1024px) {
    margin-bottom: 17px;
  }
  @media (max-width: 600px) {
    margin-bottom: 33px;
  }
}

.footer-info__content-info__subtitle {
  &-text {
    @include textStyle-1;
    text-transform: capitalize;
  }
}

.footer-info__content-info__social {
  @include flexBox-ctr;
  margin-top: 48px;
  gap: 27px;

  @media (max-width: 1024px) {
    margin-top: 32px;
  }
  @media (max-width: 600px) {
    margin-top: 35px;
    gap: 17px;
  }

  &-icon {
    & .team-item__icon {
      @media (max-width: 480px) {
        width: 33px;
        height: 33px;
      }
    }
  }
}
