.main-footer {
  padding: 24px 0;
  background-color: $dark-blue;

  @media (max-width: 1024px) {
    padding: 14px 0;
  }
  @media (max-width: 600px) {
    padding: 30px 0 27px;
  }
}

.main-footer__content-text {
  max-width: 380px;
  margin: 0 auto;

  @media (max-width: 1024px) {
    max-width: 314px;
  }

  &__text {
    @include textStyle-1;
    text-align: center;
    color: $grey-footer;
    text-transform: capitalize;

    &-author {
      color: $white;
    }
  }
}
